.review_page{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(83, 41, 91) 50%, rgba(0,0,0,1) 100%);
  }
  .review_page_left{
    margin-top: 170px;
    padding-left: 60px;
  }
  
  .review{
    color: rgba(209, 98, 187, 0.936);
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
    margin-top: 70px;
  }
  
  .opinion{
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 60px;
    padding-top: 50px;
  }
  
  .profiles{
    display: flex;
  }
  
  .pair_1{
    display: flex;
  }
  
  .pair_2{
    display: flex;
  }
  
  .pair_3{
    display: flex;
  }
  
  .profile_1{
    width: 120px;
    height: 50px;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .profile_2{
    width: 120px;
    height: 50px;
    padding-top: 30px;
    position: relative;
    right: 90px;
  }
  
  .pair_2{
    position: relative;
    right: 210px;
    align-items: center;
    padding-top: 2px;
  }
  
  .pair_3{
    position: relative;
    right: 420px;
    align-items: center;
    padding-top: 2px;
  }
  
  .k_review{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
  
  .total_review{
    display: flex;
    /* gap: 2px; */
  }
  
  .girl{
    width: 280px;
    height: 360px;
    border-radius: 12px;
    margin-top: 60px;
    position: relative;
    top: 400px;
  }
  
  .review_page{
    display: flex;
  }
  
  .review_page_right{
    margin-top: 100px;
    position: relative;
    bottom: 400px;
    right: 50px;
  }
  
  .loreum{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    background: rgba(80, 51, 84, 0.727);
  box-shadow: 0 8px 32px 0 rgba(20, 25, 99, 0.37);
  backdrop-filter: blur( 50px );
  -webkit-backdrop-filter: blur( 4px );
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
  top: 188px;
  left: 200px;
  width: 400px;
  padding: 20px;
  }
  
  .appoint{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
    font-style: bold;
    margin-left: 50px;
    padding-top: 60px;
  }
  
  .concept{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    font-size: 13px;
  }
  
  .review_below{
    background: rgba(128, 59, 139, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 50px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    height: 200px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .personal_chef{
    color: white;
    font-family: 'Poppins', sans-serif;
    background: rgb(89,4,97);
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(89,4,97,1) 0%, rgba(117,31,131,1) 20%, rgba(117,0,139,1) 40%, rgba(121,0,144,1) 53%, rgba(137,75,149,1) 70%, rgba(140,65,152,1) 77%, rgba(135,67,148,1) 77%, rgba(164,110,175,1) 83%, rgba(181,124,193,1) 92%, rgba(174,132,185,1) 97%, rgba(177,137,177,1) 100%, rgba(197,140,193,1) 100%);
    width: 189px;
    height: 35px;
    padding-left: 20px;
    padding-top: 7px;
    margin-top: 90px;
    margin-right: 60px;
  }
  
  .review_below{
    display: flex;
    justify-content: space-between;
  }
  
  .arrow_1 .right-arrow-1{
    width: 20px;
    height: 20px;
    padding-top: 100px;
    position: relative;
    right: 210px;
  }